<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">
 <Properties>
<Property name="basePath">./logs</Property>
</Properties>
 
  <Appenders>
      <RollingFile name="File" fileName="${basePath}/1kosmos.log" filePattern="${basePath}/log-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="10 MB" />
      <DefaultRolloverStrategy max="20"/>
          </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info" additivity="true">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>

